<fieldset class="leaderboard">
	<legend>Top Senders</legend>
	<table>
		<tr>
			<th>Sender</th>
			<th>#</th>
		</tr>	
		<% @top_senders.each do |ranking| %>
			<tr>
				<td><%= ranking.sender.name %></td>
				<td><%= ranking.count %></td>
			</tr>
		<% end %>
	</table>
</fieldset>


<fieldset class="leaderboard">
	<legend>Top Receivers</legend>
	<table>
		<tr>
			<th>Receiver</th>
			<th>#</th>
		</tr>	
		<% @top_receivers.each do |ranking| %>
			<tr>
				<td><%= ranking.receiver.blank? ? "@object" : ranking.receiver.name %></td>
				<td><%= ranking.count %></td>
			</tr>
		<% end %>
	</table>
</fieldset>