<h3><%= @prefix %> Stars</h3>
<table class="star_table">
	<% if @stars.blank? %>
		<tr class="empty_stars"><td>There are no stars</td></tr>
	<% else %>
		<%= render :partial=>"shared/star_row", :collection=>@stars %>
	<% end %>
</table>