<h3>
	<% if user_signed_in? %>
		<% if @mode == "all"%>
			All Stars | <%= link_to "My Stars", user_stars_path(current_user) %> </h3>
		<% else %>
			<%= link_to "All Stars", stars_path %> | My Stars</h3>
		<% end %>
	<% else %>
		All Stars
	<% end %>
</h3>

<% if @stars.blank? %>
	<pre class="debug_dump">
		<%= @mode.downcase == "all" ? "There are no stars" : "You have no stars"%>
	</pre>
<% else %>
	<table class="star_table">
		<%= render :partial=>"shared/star_row", :collection=>@stars %>
	</table>
<% end %>

