.gold {
	color: gold;
}

.star_table {
	width: 800px;
}

.logged_in_name {
	padding-left: 50px;
	padding-top: 10px;
	color: gold;
	font-size: 9px !important;
}

a.new_fav {
	font-size: 125%;
	color: grey;
}

a.new_fav:hover {
	font-size: 125%;
	color: red;
	text-decoration: none;
}

a.fav {
	font-size: 125%;
	color: red;
}


body {
	padding-top: 60px;
	padding-left: 100px;
	padding-right: 100px;
}

fieldset.devise legend {
	border-left: 200px !important; 
}

fieldset.leaderboard {
	width: 400px;
	float: left;
	margin-right: 50px;
}

fieldset.leaderboard legend {
	margin-left: 0px;
}