.gold {
	color: gold;
}

.star_table {
	width: 800px;
}

.logged_in_name {
	padding-left: 35px;
	padding-top: 10px;
	color: gold;
	font-size: 9px !important;
}

body {
	padding-top: 40px;
	padding-left: 100px;
	padding-right: 100px;
}

fieldset.devise legend {
	border-left: 200px !important; 
}
