<fieldset class="devise">
	<legend>This is a goof!</legend>
	<p>
		When spike and i first started working together he would dazzle me with his uber l33t sysadmin skillz
		(I was a noob to all things *nix at the time so his uber l33t skillz appeared to me to be uber uber l33t l33t).
		I would give him a gold star each time he helped me out.  A gold star that neither had any bearing on anything in
		the real world nor could be redeemed for anything in the world.
 	</p>
	<p>
		We are now letting you hand out these same useless gold stars
	</p>
  <ul>History
		<li>Day 1: spent a half day figuring out what it is i should be doing</li>
		<li>Day 2: coded the app.  user signin/registration, star sending, themining, & css</li>
		<li>Day 3: researched custom form helper building. thought of building a gem but the resulting code is so small</li>
		<li>Day 4: implemented natural language processing of all input text</li>
		<li>Day 5: integrated twitter support</li>
	</ul>
</fieldset>
